body{
    color: white;
    background-color: dimgray;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

a{
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    color: #000;
}

.button{
    margin: 20px;
}

input{
    margin: 5px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 10px;
}

.btn_ok{
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color:chartreuse;
    text-decoration: none;
    color: #000;
}

.btn_no{
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color:rgb(255, 64, 0);
    text-decoration: none;
    color: #ffff;
}
